[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
pytest = "*"
advent-of-code-data = "*"
black = "*"
flake8 = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
test = "pytest"
lint = "flake8 src"
fmt = "black src"